/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}
/* Some Varibles */
:root {
  --main-color: #3BE5F5;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #0D3236;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/* Selection Color */
::selection {
  background: var(--main-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
}
section {
  padding: 3rem 0 2rem;
}
img {
  width: 100%;
}
.bx {
  cursor: pointer;
}
body {
  background: var(--body-color);
  color: var(--text-color);
}
.container {
  max-width: 1060px;
  margin: auto;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--body-color);
  z-index: 100;
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
/* Logo */
.logo {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  font-family: "Algerian";
}
.logo span {
  font-family: "Algerian";
  color: var(--main-color);
}
/* Search Box */
.search-box {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding: 8px 15px;
  background-color: rgb(0,0,0,0.4);
  border-radius: 4rem;
  margin-right: 1rem;
}
.search-box .bx {
  font-size: 1.1rem;
}
.search-box .bx:hover {
  color: var(--main-color);
}
#search-input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}
/* Navbar */
.navbar {
  position:absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 2.1rem;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
}
.nav-link:hover{
  font-weight: 400;
  transition: 0.3s all linear;
  transform: scale(1.1);
}
.nav-link-title {
  font-size: 0.88rem;
}
/* Home */
.home {
  position: relative;
  min-height: 470px;
  display: flex;
  align-items: center;
  margin-top: 5rem !important;
  border-radius: 0.5rem;
}
.home-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 0.5rem;
}
.home-text {
  padding-left: 40px;
}
.home-title {
  font-size: 2rem;
  font-weight: 600;
}
.home-text p {
  font-size: 0.938rem;
  margin: 10px 0 20px;
  color: var(--main-color);
}
.watch-btn {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  color: var(--text-color);
}
.watch-btn .bx {
  font-size: 21px;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-btn .bx:hover {
  background: var(--hover-color);
}
.watch-btn span {
  font-size: 1rem;
  font-weight: 400;
}
.watchTrailer {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
}

/* Heading */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0,0,0,0.4);
  padding: 8px 14px;
  border: 1px solid hsl(200 100% 99% / 5%);
  margin-bottom: 2rem;
}
.heading-title {
  font-size: 1.2rem;
  font-weight: 500;
}
/* Movie Box */
.movie-box {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}
.movie-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-box .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14% / 74%) 14%,
    hsl(240 17% 14% / 14%) 44%
  );
  overflow: hidden;
}
.movie-title {
  font-size: 1.1rem;
  font-weight: 500;
}
.movie-type {
  font-size: 0.938rem;
}
.play-btn {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
}
/* Movies */
.movies .heading {
  padding: 10px 14px;
}
.movies-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  gap: 1.5rem;
}
.movies-content .movie-box:hover .movie-box-img {
  transform: scale(1.1);
  transition: 0.5s;
}
.next-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.next-btn {
  background: rgb(0,0,0,0.4);
  padding: 12px 20px;
  background-color: rgb(0,0,0,0.4);
  font-weight: 500;
  color: white;
  border-radius: 1rem;
}
.next-btn:hover {
  background: var(--hover-color);
  transition: 0.3s all linear;
}
/* Copyright */
.copyright {
  text-align: center;
  padding: 20px;
}
